node_modules
dist
netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css
# Local Netlify folder
.netlify
.idea/
.vercel
.cache
_site/
**/.DS_Store

# Ignore only the Digital Garden plugin's config (contains tokens)
/obsidian-vaoults/GUILDA/.obsidian/plugins/obsidian-digital-garden/data.json

